<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titulo }}</title>
</head>
<body>
  <h1>{{ titulo }}</h1>
  <ul>
    {% for relato in relatos %}
      <li>
        <a href="{% url 'detalle_relato' relato.id %}">
          <strong>{{ relato.titulo }}</strong>
        </a> - {{ relato.autor.nombre }} ({{ relato.fecha }})
        <p>{{ relato.contenido|truncatewords:20 }}</p>
      </li>
    {% empty %}
      <li>No hay relatos... aún</li>
    {% endfor %}
  </ul>
</body>
</html>l
